# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Environnements virtuels
venv/
.env/
env/
ENV/
.venv/

# --- Distribution / Données ---
dist/
build/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Fichiers de données temporaires (si tu en utilises)
temp_network.json

# Résultats de calculs (PDF et schémas temporaires)
# docs/*.pdf
# docs/temp_network_schema.png


# # Autoriser uniquement l'image de démonstration pour le README
# !docs/temp_network_schema_demo.png
