# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
venv/
.env/
env/
.venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Fichiers de données temporaires (si tu en utilises)
temp_network.json
